<!DOCTYPE html>
<html>
<style>
  body{
    padding: 0;
    margin: 0;
  }
  h1{
    font-family: arial;
    text-align: center;
    background: #212F3D;
    margin: 0 0 1em 0;
    padding: .3em;
    color: #ECF0F1;
    font-weight: normal;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
  }
  .container div{
    margin-bottom: 1em;
    border: solid 1px;
    width: 32%;
    background: #ECF0F1;
  }
  .container h2{
    font-family: arial;
    margin: 0;
    background: #212F3D;
    padding: .3em;
    color: #ECF0F1;
  }
  .container h3{
    font-family: arial;
    margin: 0;
    padding: .3em;
    font-weight: normal;
    font-size: 14px;
  }
  .form{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto 2em auto;
    border: solid 1px;
    padding: 1em;
    align-items: center;
  } 

  .form div{
    margin-right: 1em;
  } 
  .form div label{
    display: block;
  }
  .form div input[type="submit"]{
    background: #F39C12;
    border: none;
    padding: .3em 1em;
    margin-top: 16px;
  }
  .form div input[type="submit"]:hover{
    background: #F0E692;
    cursor: pointer;
  }
  p{
    width: 80%;
    display: block;
    margin: 0 auto 2em auto;
  }
</style>
  <head>
    <meta charset="utf-8">
    <title>Mi app Node.js</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
